<div class="container-fluid content">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <h2> EDIT </h2>
            <form action="/edit?restaurantId={{restaurant.id}}" method="POST">

              <div class="form-group">
                <label for="">NAME</label>
                <input class="form-control" type="text" name="name" value="{{restaurant.name}}">
              </div>

              <div class="form-group">
                <label for="">TYPE</label>
                <input class="form-control" type="text" name="type" value="{{restaurant.type}}">
              </div>

              <div class="form-group">
                <label for="">DESCRIPTION</label>
                <input class="form-control" type="text" name="description" value="{{restaurant.description}}">
              </div>

            <div class="form-group">
              <label for="">ADDRESS</label>
              <input class="form-control" type="text" name="address" value="{{restaurant.address}}">
            </div>

              <button type="submit" class="btn btn-primary text-uppercase">EDIT</button>
            </form>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</div>