<h2>{{restaurant.name}}</h2>
<p>Type: {{restaurant.type}}</p>
<p>Description: {{restaurant.description}}</p>
<p>Address: {{restaurant.address}}</p>
<img width="200px" src="{{ restaurant.imgPath }}" alt="{{ restaurant.originalName }}" />
<a href="/addcomment/{{restaurant.id}}">Add comment</a>
<p>Price range: {{restaurant.minPrice}}-{{restaurant.maxPrice}} reais</p>
<h1>Comments:</h1>
{{#each comment}}
<h3>{{this.title}}</h3>
<p>{{this.content}}</p>
{{/each}}
<div id="map"></div>

<script type="text/javascript" src="/javascripts/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNZEVA0U6Hw9-04kOy2ovaOe-89tD284M&callback=initOne">
  </script>