<h2>{{restaurant.name}}</h2>
<p>Type: {{restaurant.type}}</p>
<p>Description: {{restaurant.description}}</p>
<p>Address: {{restaurant.address}}</p>
<img width="200px" src="{{ restaurant.imgPath }}" alt="{{ restaurant.originalName }}" />